*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
/*App styling*/
header,section,footer{
  width: 100%;
}
.contentSpace{
  margin-left: 20%;
  margin-right: 20%;
}
section, footer{
  background: white;
}
/*Section Header Styling*/
header{
  height: 200px;
  background-image: url("./assets/clover_card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}
header h4{
  color: white;
}
header h1{
  color: orange;
  margin-bottom: 1%;
}
header span{
  border: solid black;
  padding: 1%;
  font-size: 8pt;
  background: white;
  font-weight: bold;
}
/*section one*/
#s1{
  background: lightgrey;
}
#s1 .contentSpace{
  display: flex;
  flex-flow: row nowrap;
}
#s1 .ChapterNav{
  width: 40%;
}
.ChapterNav hr{
  width: 95%;
  height: 1px;
  background: black;
}
.ChapterNav .header, .ChapterNav .nav{
  padding-left: 10%;
}
.ChapterNav em{
  color: orange;
  font-size: 10pt;
}
.ChapterNav .header span{
  font-size: 10pt;
}
.ChapterNav .header{
  margin-bottom: 2%;
}
.ChapterNav .nav .active{
  background: white;
  border-left: 3px solid orange;
}
.ChapterNav .nav div{
  padding-top: 5%;
  padding-bottom: 5%;
}
.ChapterContent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "main main" "subleft subright";
}
.ChapterContent .main{
  grid-area: main;
}
.ChapterContent .subleft{
  grid-area: subleft;
}
.ChapterContent .subright{
  grid-area: subright;
}
.ChapterContent .box{
  position: relative;
}
.ChapterContent img{
  width: 100%;
}
.box .tag{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background: white;
  width: 150px;
  padding: 2%;

  display: flex;
  flex-flow: column nowrap;
}
.box .tag .right{  
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  background: white;
  width: 150px;
  padding: 2%;

  display: flex;
  flex-flow: column nowrap;
}
/*SectionTwo styling*/
#s2 .contentSpace{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#s2 hr{
  background: lightgrey;
  height: 1px;
  width: 100%;
}
#s2 .contentSpace .title{
  text-align: center;
}
#s2 .contentSpace .title p{
  font-size: 8pt;
}
#s2 .set{
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 2%;
}
#s2 .set .box{
  display: flex;
  flex-flow: column nowrap;
  padding: 1%;
  width: 260px;
}
#s2 .box img{
  width: 100%;
}
#s2 .box p{
  font-size: 10pt;
  font-weight: bold;
}
#s2 .box em{
  font-size: 8pt;
}
/*section three styles*/
#s3 .contentSpace .title{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#s3 .title div{
  margin-top: 2%;
  width: 40%;
  text-align: center;
}
#s3 .title span{
  padding: 2%;
  font-size: 10pt;
}
#s3 .title .left{
  border: solid black;
  color: white;
  background: black;
}
#s3 .title .right{
  border: solid black;
}
#s3 .reel{
  display: flex;
  flex-flow: row wrap;
}
#s3 .reel div{
  width: 200px;
  padding: 1%;
}
#s3 .reel .big{
  width: 400px
}
#s3 .reel .big img{
  float: left;
  width: 25%;
  height: 100%;
  border-radius: 50%;
  padding: 2%;
}
#s3 .reel div em{
  font-size: 10pt;
}
#s3 .reel div span{
  font-size: 10pt;
}
/*section four*/
#s4 {
  margin-top: 2%;
}
#s4 .contentSpace .title{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#s4 .title p{
  font-size: 10pt;
  text-align: center;
  margin-bottom: 1%;
}
#s4 .title span{
  border: solid black;
  padding: 1%;
  font-weight: bold;
  font-size: 8pt;
}
#s4 .cards{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
#s4 .cards .card{
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  padding: 1%;
}
#s4 .card img{
  width: 100%;
  height: 100px;
}
#s4 .cards em{
  margin-top: 2%;
  margin-bottom: 8%;
  font-size: 10pt;
}